<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-2">
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Keyword:</strong>
        <%= @keyword.keyword %>
      </p>

      <%= link_to 'Edit', edit_keyword_path(@keyword), class:'btn btn-warning' %> |
      <%= link_to 'Back', keywords_path, class:'btn btn-primary' %>

    </div>
  </div>
</div>